__pycahe__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pin-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetest.xml
covarage.xml
*.cover
*.log
.git
.gitignore
.mypy_cache
.pytest_cache
.hypothesis
.idea

